html { font-size: 14px; }
html, body { height: 100%; }
body { font-weight: 300; font-family: 'Raleway', sans-serif; line-height: 1.4285em; color: rgba(0, 0, 0, 0.87); }
strong { font-weight: 600; }
h1, h2, h3, h4, h5 { line-height: 1.28571429em; margin: calc(2rem -	0.14285714em ) 0em 1rem; font-weight: bold; padding: 0em; }
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
margin-top: 0em;
}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child {
margin-bottom: 0em;
}
h1, h2, h3, h4 { text-transform: uppercase; }
h1 { font-weight: 600; font-size: 3rem; font-family: 'Raleway', sans-serif; margin-bottom: 0; }
h2 { font-weight: 600; font-size: 3rem; font-family: 'Raleway', sans-serif; letter-spacing: 0.25em; }
h3 { font-weight: 300; font-size: 1.0625rem; font-family: 'Raleway', sans-serif; letter-spacing: 0.05em; }
h4 { font-weight: 400i; font-size: 1rem; font-family: 'Raleway', sans-serif; letter-spacing: 0.05em; }
#a4 { border-radius: 0; border: none; box-shadow: 0 10px 100px 0 rgba(34,36,38,.1); transition: all 0.2s linear; }
#a4:hover { box-shadow: 0 10px 100px 0 rgba(34,36,38,.3); }
.ui.fitted.fat.divider { border-top: 0.30em solid rgb(255, 255, 255); width: 100%; }
.pucase{text-transform: uppercase; font-size: 0.9rem;}
a { color: rgb(75, 125, 235); text-decoration: none; }
.ui.container.bordered{border-width: 1px; border-style: solid;}
.ui.basic.segment.stackable.grid.topmarg{margin-top: 0;}

@media only screen and (max-width: 767px) {
.ui.container { margin: 0 !important; }
#desktop { margin: 0; }
#a4 { padding: 0; }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
#desktop { margin: calc((100% - 723px) / 2) 0; }
}		
@media only screen and (min-width: 992px) and (max-width: 1199px) {
#desktop { margin: calc((100% - 933px) / 2) 0; }
}		
@media only screen and (min-width: 1200px) {
#desktop { margin: calc((100% - 1127px) / 2) 0; }
}